
body {
    background-color: #1f1f1f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1 {
    color: rgb(71, 154, 255);
    text-align: center;
}

h2 {
    color: rgb(73, 155, 255);
    text-align:left;
    margin-top: 1px;
    margin-left: 50px;
}

h3 {
    color: #ffffff;
    text-decoration: underline;
    margin-left: 5%;
    /*I used this website to find out how to change the text underline color https://stackoverflow.com/questions/1175383/changing-a-link-underline-color */
}

.projectHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 4px;
    /* I found this code on this website https://www.joshwcomeau.com/css/center-a-div/*/
}
.project {
    /* I found how to use float: left; from this website https://learn.shayhowe.com/html-css/positioning-content/*/
    float: left;
    width: 310px;
    height: 400px;
    margin: 10px;
    padding: 10px 10px;
    background: rgb(71, 154, 255); 
    border-radius: 1%;
    text-align: center;
}
p {
    color: #ffffff;
}

.project img{
    width: 300px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0); 
    display: block;
    margin: auto;
}

a { 
    text-decoration: none;
    color: white;
}
        
.project p { 
    margin: 15px;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: left;
}

.about p {
    width:60%;
    text-align:left;
    margin-left: 5%;
    line-height: 125%;
}
.skills p {
    width:60%;
    text-align:left;
    margin-left: 5%;
    line-height: 125%;
}

.about img {
    width: 165;
    height: 200px;
    border-radius: 5%;
    background: rgb(71, 154, 255); 
    border: 5px solid rgb(205, 205, 205); 
}