
body {
    background-color: #000000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

h1 {
    color: rgb(71, 154, 255);
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align:left;
}

h3 {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    /*I used this website to find out how to change the text underline color https://stackoverflow.com/questions/1175383/changing-a-link-underline-color */
}

.projects { display:flex; flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 10px 10px;
background: rgb(71, 154, 255); 
border-radius: 2%;
}
p {
    color: #ffffff;
}

.project img{
    
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid rgb(255, 255, 255); 
    display: block;
    margin: auto;
    }

    a { 
        text-decoration: none;
        color: white;
        }
        .project p { 
        text-align: center;
        margin: 15px;
        }
