<div id="experiance" ></div>
<h1 class="title"id="StateFarm">Experience</h1>
<div class="experiances">
    <div class="logo-section">
        <a href="https://jobs.statefarm.com/become-an-intern" target="_blank" rel="noopener noreferrer">
            <img src="statefarm.png" alt="State Farm Logo">
        </a>
    </div>

    <div class="section">
        <h1>Software Engineering Intern at State Farm</h1>
        <li>Worked on full stack web development using Angular, Typescript, and Node JS.</li>
    </div>


    <div class="logo-section">
        <a href="https://sc.edu/study/colleges_schools/education/" target="_blank" rel="noopener noreferrer">
            <img src="USC.png" alt="USC Logo">
        </a>
    </div>

    <div class="section">
        <h1>Undergraduate Reaserch Assitant at the USC College of Education</h1>
        <li>Developing an educational VR game for a reaserch project using Unity and C#.</li>
        <li>Integrating Unity with LLM APIs to provide AI functionality in VR.</li>
    </div>

    <div class="logo-section">
        <a href="https://sc.edu/about/centers_institutes/rural-education-and-development/" target="_blank" rel="noopener noreferrer">
            <img src="USCEdu.png" alt="USC College of Education Logo">
        </a>
    </div>

    <div class="section">
        <h1>Undergraduate Reaserch Assitant at the USC Institute for Rural Education and Development</h1>
        <li>Teaching programming skills, robotics, CAD, 3D modeling, and drone piloting.</li>
        <li>Presenting new technologies to local educators.</li>
    </div>

    <div class="logo-section">
        <a href="https://www.coolmathgames.com/0-gravity-coil" target="_blank" rel="noopener noreferrer">
            <img src="gravitycoil.png" alt="Gravitycoil Logo">
        </a>
    </div>

    <div class="section">
        <h1>Video Game Developer</h1>
        <li>Developed a game using the C# and the Unity Game Engine.</li>
        <li>Negotiated a non-exclusive licensing deal with a large online games website.</li>
        <li>Worked with that website’s team to integrate with their advertising system.</li>
    </div>

    <div class="logo-section">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7308124924676583427?utm_source=share&utm_medium=member_desktop&rcm=ACoAAE95j4sBGnI6mCdyUXyh3uCN36XR4UX_HR4" target="_blank" rel="noopener noreferrer">
            <img src="asset.jpg" alt="Asset Logo">
        </a>
    </div>

    <div class="section" id="ML">
        <h1>ASSET Machine Learning Competition Second Place Winner</h1>
        <li>Worked with a team to develop a predictive machine learning model.</li>
        <li>Presented our model to a board of company executives.</li>
    </div>

    <div class="logo-section">
         <a href="https://developer.ibm.com/callforcode/" target="_blank" rel="noopener noreferrer">
            <img src="IBM.png" alt="IBM Logo">
        </a>
    </div>

    <div class="section">
        <h1>Call For Code: IBM WatsonX Workshop </h1>
        <li>Competed in a team to quickly develop, design, and present an AI solution to a humanitarian issue.</li>
        <li> Won $2,500.</li>
    </div>

    <div class="logo-section">
        <a href="https://www.milb.com/columbia" target="_blank" rel="noopener noreferrer">
            <img src="fireflies.png" alt="Fireflies Logo">
        </a>
    </div>

    <div class="section">
        <h1>Columbia Fireflies Video Production Crew</h1>
        <li>Set up and operate professional camera equipment.</li>
        <li>Managed graphics to show the score and game statistics to a live audience.</li>
    </div>

    <div class="logo-section">
        <a href="https://garnetsquadron.org/" target="_blank" rel="noopener noreferrer">
            <img src="garnet.png" alt="Garnet Squadron Logo">
        </a>
    </div>

    <div class="section">
        <h1>Garnet Squadron President and Lead Mentor</h1>
        <li>Lead Mentor of a competitive First Tech Challenge robotics team for highschool students.</li>
        <li>Teaching programming, CAD, and mechanical engineering.</li>
        <li>Managing a nonprofit with a 5 figure budget.</li>
    </div>
</div>