body {
    font-family: "Special Elite", system-ui;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: antiquewhite;
}

h1 {
    font-family: "Special Elite", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    transition: transform 0.1s ease;
    color: antiquewhite;
    margin: 0rem;
    padding: 0rem;
}

.header-link {
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

a {
    transition: transform 0.1s ease;
    display: inline-block;
    cursor: pointer
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    color:mintcream;
}

@media (max-width: 768px) {
.header-link {
    font-family: "Special Elite", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}
h1{
    padding: 1.2rem;
}

}