body {
  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;

    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: mintcream;
}

.title{
      font-family: "Keania One", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    transition: transform 0.1s ease;
    margin: 0rem;
    padding: 0rem;
    align-self: center;
    justify-content: center; 
    display: flex;
    
}

h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    transition: transform 0.1s ease;
    margin: 0rem;
    padding: 0rem;
}

.header-link {
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}
a {
    transition: transform 0.1s ease;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;   
}

li {
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    padding-top: 1rem;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    color:ghostwhite;
}

@media (max-width: 768px) {
.header-link {
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}
h1{
    padding: .5rem;
    font-size: 1.4rem;
}
li{
    padding: 1.2rem;
    font-size: 1rem;
}

}

html {
  scroll-behavior: smooth;
}